logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
ml-service/.venv/
ml-service/data/
*.sqlite3
__pycache__/
*.py[cod]
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

backend/ml-service/.venv/
backend/ml-service/data/
